# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
ENV/
env/
.venv/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Cache
.cache/
*.pyc

# Data
*.csv
*.tsv
*.xls
*.xlsx

# Others
*.bak
